*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
    color: white;
}
.header{
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}
div.header-logo{
    flex: 1;
}
.logo{
    text-decoration: none;
    color: rgb(197, 80, 21);
    font-weight: bold;
}
nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
nav a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}