*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(248, 205, 160);
}
.header{
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    color: white;
    background-color: black;
}
div.header-logo{
    flex: 1;
}
.logo{
    text-decoration: none;
    color: rgb(197, 80, 21);
    font-weight: bold;
}
nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
nav a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}
section.contact-content {
    display: flex;
    padding: 200px;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.Contact_me{
    font-size: 60px;
}
.description{
    font-size: 24px;
}

div.info{
    margin-top: 52px;
    font-size: 36px;
}
.contact_info{
    font-weight: bold;
}