*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(248, 205, 160);
    
}
.header{
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 5%;
    background-color: black;
    color: white;
}
div.header-logo{
    flex: 1;
}
.logo{
    text-decoration: none;
    color: rgb(197, 80, 21);
    font-weight: bold;
}
nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
nav a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}

section.project-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

div.project{
    display: flex;
    margin-bottom: 50px;
    border-radius: 40px;
    border: 4px solid black;
    background-color: rgb(210, 171, 130);
    width: 1500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 150px;
}
div.project_img{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 4px solid black;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}
div.project_img .project_name{
    margin-bottom: 12px;
}
div.project_img img{
    width: 350px;
    min-height: 180px;
    border-radius: 20px;
}
div.pj-intro {
    flex: 2;
    color: black;
    background-color: rgb(246, 237, 237);
    border-radius: 40px;
    height: 80%;
    padding: 30px 40px;
    font-size: 26px;
    overflow: hidden;
}
@media (max-width: 1000px) {
    .header{
        font-size: 5vw;
    }
    nav a{
        font-size: 2.5vw;
    }
    section.project-content{
        margin-top: 15vw;
    }
    div.project{
        flex-direction: column;
        margin-bottom: 5vw;
        border-radius: 5%;
        border: 0.4vw solid black;
        width: 96vw;
        height: 100vw;
        padding: 0px 1%;
        gap: 1vw;
    }
    div.project_img .project_name{
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    div.project_img img{
        width: 100%;
        max-height: 95%;
        border-radius: 15%;
        border: 2px solid black;
    }
    div.project_img{
        border-right: none;
        padding-right: 1vw;
    }
    div.pj-intro {
        flex: 1;
        border-radius: 10%;
        padding: 4vw 5vw;
        font-size: 3vw;
        border: 2px solid black;
    }
}