*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
    color: white;
}
.header{
    display: flex;
    font-size: 2.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 5%;
}
div.header-logo{
    flex: 1;
}
.logo{
    text-decoration: none;
    color: rgb(197, 80, 21);
    font-weight: bold;
}
nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
nav a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}
section.home-content{
    display: flex;
    margin-top: 10rem;
    justify-content: center;
}

div.home_img img{
    width: 50vw; 
    height: 50vw;
    max-width: 700px;
    max-height: 700px;
    min-height: 100px;
    min-width: 100px;
    border-radius: 50%;
}
div.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding-left: 128px;
    width: 1000px;
    font-size: 25px;
}
p.greeting{
    font-size: 80px;
}
span.stress{
    font-weight: bold;
    color: rgb(199, 100, 50);
}
p.simple-intro{
    font-size: 60px;
}
@media (max-width: 1000px) {
    div.home_img img{
        width: 40vw; 
        height: 40vw;
    }
    .header{
        font-size: 5vw;
    }
    nav a{
        font-size: 2.5vw;
    }
    section.home-content{
        margin-top: 15vw;
    }
    div.intro{
        gap: 3vw;
        padding-left: 8vw;
    }
    p.greeting {
        font-size: 5vw; /* smaller on phone */
    }
    p.simple-intro {
        font-size: 3.5vw;
    }
    p.description{
        font-size: 1.8vw;
    }
}